{% load static %}
<link rel="stylesheet" href="{% static 'css/components/header.css' %}" />

<!-- Navigation-->
<nav
  class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
  data-navbar-on-scroll="data-navbar-on-scroll"
>
  <div class="container">
    <a class="navbar-brand d-inline-flex" href="{% url 'main' %}">
      <img
        class="d-inline-block"
        src="{% static 'img/gallery/logo.svg' %}"
        alt="logo"
      />
      <span class="text-1000 fs-3 fw-bold ms-2 text-gradient">
        포동포동
      </span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0"
      id="navbarSupportedContent"
    >
      <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
        <p class="mb-0 fw-bold text-lg-center mt-3">
          <a class="nav-link nav_item d-inline-flex" href="{% url 'restaurant:restaurant_list' %}">식당 보기</a>
        </p>
      </div>
      <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
        <p class="mb-0 fw-bold text-lg-center mt-3">
          <a class="nav-link nav_item" href="{% url 'review:review' %}">후기 보기</a>
        </p>
      </div>
      <div
        class="dropdown mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block"
      >
        <p class="nav-link nav_item dropbtn nav_item mb-0 fw-bold text-lg-center mt-3">
          건의함
        </p>
        <div class="dropdown-content">
          <a href="{% url 'board:request_new' %}">건의하기</a>
          <a href="{% url 'board:board_main' %}">건의 목록</a>
        </div>
      </div>
      <form class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0">
        {% if user.is_authenticated %}
          <div class="dropdown nav-link mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
            <p class="dropbtn nav_item mb-0 fw-bold text-lg-center mt-3">
                MY Page
            </p>
            <div class="dropdown-content">
              <a class="dropdown-item" href="{% url 'users:mypage' %}">Mypage</a></li>
              <a class="dropdown-item" href="{% url 'account_logout' %}">Logout </a></li>
            </div>
          </div> 
        {% else %}
          <div class="dropdown nav-link mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
            <p class="dropbtn nav_item mb-0 fw-bold text-lg-center mt-3">
                Login 
            </p>
            <div class="dropdown-content">
              <a class="dropdown-item" href="{%url 'account_login'%}">Login</a></li>
              <a class="dropdown-item" href="{%url 'account_signup'%}">Signup</a></li>
            </div>
          </div>   
          {% endif %}
        </div>
      </div> 
      </form>
    </div>
  </div>
</nav>
