{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>포동포동</title>
  {% load static %}

  <!-- 식당보기 페이지 카테고리 슬라이드를 위해 Slick js 추가 -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{% static 'img/favicons/apple-touch-icon.png' %}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{% static 'img/favicons/favicon-32x32.png' %}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{% static 'img/favicons/favicon-16x16.png' %}"
  />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{% static 'img/favicons/favicon.ico' %}"
  />
  <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}" />
  <meta
    name="msapplication-TileImage"
    content="assets/img/favicons/mstile-150x150.png"
  />
  <meta name="theme-color" content="#ffffff" />

  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="{% static 'css/theme.css' %}" rel="stylesheet" />

  <!-- icon -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  />

  <!-- 식당보기 페이지 카테고리 슬라이드를 위해 Slick css 추가 -->
  <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css" />

  <!-- 건의함 css-->
  <link rel = 'stylesheet' href = "{% static 'css/board.css'%}">
</head>
