{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class='board_content'>
        <h2>글 작성하기</h2><br><br>
    </div>
    {% if user.is_authenticated %}

    <div class = 'container'>
        <div class = 'board_new'>
            <form action = "{% url 'board:request_create' %}" method="POST">
                {%csrf_token%}
                <p id = "new"><strong>제목</strong></p>
                <input type="text"  name="title" placeholder="제목을 입력해주세요" style="width:20%">
                <p id = "new"><strong>식당 이름</strong></p>
                <input type="text"  name="cafeteria" placeholder="식당 이름을 입력해주세요" style="width:20%">
                <p id = "new"><strong>비고</strong></p>
                <textarea name="body" cols="30" rows="10"></textarea>
                <br><br>
                <button type='submit' style = 'font-size:20px; width:6%;'>제출</button>
            </form>
        </div>
    </div>

    {% else %} 
        <div class = "board_authentication">
            <h3> 로그인 후 글 등록 가능</h3>
            <br><br>
            <a href = "{% url 'account_login' %}"  class="btn btn-warning">로그인</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href = "{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
        </div>
    </div>
    {% endif %}

</section>
{% endblock %}