{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <div class = 'container'>
        <div class="row">
        <div class='board_content text-center' style="margin-top: 100px;">
        <i class="far fa-file-alt" style="color: #F17228; font-size: 30px;"></i>
        <div class="fw-bold text-center text-danger fs-3 fs-lg-5 lh-sm my-3" style="display:inline-block;">{{board.title}}</div>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
        <strong>작성자 : </strong>{{board.writer}}<br>
        <strong>날짜 :</strong> {{board.date}}
        <p><strong>식당 이름:</strong> {{board.cafeteria}}</p>
        <hr style="height: 3px; color:#F17228;">
        <p>{{board.body}}</p>
        <div class = 'board_detail' style="text-align: center; margin-top:20%;">
    {% if user == board.writer %}
            <a href="{% url 'board:request_edit' board.id %}"><button style="width: 100px; color: #fff;">수정</button></a> &nbsp;
            <a href="{% url 'board:request_delete' board.id %}"><button style="width: 100px; color: #fff;">삭제</button></a> &nbsp; 
            <a href="{% url 'board:board_main' %}"><button style="width: 100px; color: #fff;">돌아가기</button></a>
        </div>
    {% else %}
            <a href="{% url 'board:board_main' %}"><button style="width: 100px; color: #fff;">돌아가기</button></a>
        </div>
    {% endif %}
        <div class="col-lg-2"></div>
    </div>
    </div>
</section>
{% endblock %}