{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class='board_content text-center' style="margin-top: 100px;">
        <i class="far fa-edit" style="color: #F17228; font-size: 30px;"></i>
        <div class="fw-bold text-center text-danger fs-3 fs-lg-5 lh-sm my-3" style="display:inline-block;">글 작성하기</div>
        </div><br>
    {% if user.is_authenticated %}

    <div class = 'container'>
        <div class = 'board_new'>
            <form action = "{% url 'board:request_create' %}" method="POST">
                {%csrf_token%}
                <p id = "new"><strong>제목</strong></p>
                <input type="text"  name="title" placeholder="제목을 입력해주세요" style="width:100%">
                <p id = "new"><strong>식당 이름</strong></p>
                <input type="text"  name="cafeteria" placeholder="식당 이름을 입력해주세요" style="width:100%">
                <p id = "new"><strong>비고</strong></p>
                <textarea name="body" cols="50" rows="10" style="width: 100%;"></textarea>
                <br><br>
                <div style="text-align: center;">
                <button type='submit' style = 'font-size:18px; width:20%; color: white;'>제출</button>
                </div>
            </form>
        </div>
    </div>

    {% else %} 
        <div class = "board_authentication">
            <h3> 로그인 후 글 등록 가능</h3>
            <br><br>
            <a href = "{% url 'account_login' %}"  class="btn btn-warning">로그인</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href = "{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
        </div>
    {% endif %}
    </div>
</section>
{% endblock %}