{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="testimonial">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-3">
                <div class="responsive">
                    <a href="{% url 'restaurant:restaurant_list' %}" style="border:1px solid #ced4da; border-radius: 4px; margin: 5px;">
                        전체
                    </a>
                    {% for category in category %}
                        <a href="{% url 'restaurant:restaurant_list2' category.id %}" style="border:1px solid #ced4da; border-radius: 4px; margin: 5px;">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <form action="{% url 'restaurant:search_resturant' %}" method="GET" class="row gx-2 gy-2 align-items-center mb-3">
            <table width="90%" align="center">
                <tr>
                    <td width="70%;">
                        <i class="fas fa-search input-box-icon text-primary"></i>
                        <input
                            class="col-lg-3 form-control border-0 input-box bg-100"
                            style="display: inline; width:80%;"
                            type="search"
                            placeholder="Search Restaurant"
                            aria-label="Search"
                            name="search_key"
                            id="search_key"
                            value="{{ search_key }}"
                        />
                    </td>
                    <td width="20%;">
                        <button class="btn btn-danger" type="submit" style="padding: 0.5rem;">
                            검색
                        </button>
                    </td>
                </tr>
            </table>
        </form>
        <!-- 식당 리스트 -->
        <table width="90%" align="center">
        {% for restaurant in restaurant_list %}
            <tr style="border-bottom: 1px solid #dee2e6;">
                <td style="width: 30%; padding: 10px;">
                    <a href="{{ restaurant.get_absolute_url }}" >
                        <img src="{{ restaurant.thumbnail.url }}" style="max-width: 80%; border-radius: 5px;">
                    </a>
                </td>
                <td style="width: 70%; padding: 15px;">
                    <a href="{{ restaurant.get_absolute_url }}" >
                        <h5>{{ restaurant.name }}</h5>
                        <p class="mb-1">
                            <span class="text-primary fs--1 me-1">
                                <i class="fas fa-location-arrow"></i>
                            </span>
                            {{ restaurant.location }}
                        </p>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>

        <div id="paging">
            <ul class="pagination justify-content-center" style="margin-top: 2rem;">
                <!-- 이전페이지 -->
                {% if restaurant_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ restaurant_list.previous_page_number }}">이전</a>
                    </li>
                {% endif %}

            <!-- 페이지리스트 -->
            {% for page_number in restaurant_list.paginator.page_range %}
                {% if page_number == restaurant_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endfor %}


                <!-- 다음페이지 -->
                {% if restaurant_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ restaurant_list.next_page_number }}">다음</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('.responsive').slick({
        dots: false,
        infinite: false,
        speed: 300,
        slidesToShow: 6,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 6,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 600,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 2
                    }
                },
            {
            breakpoint: 480,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 2
                }
            }
        ]
    });
</script>

{% endblock %}