{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="testimonial">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-6">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">
                    여기에 식당 리스트 출력
                </h5>
            </div>
        </div>
        <!-- 식당 리스트 -->
        <div class="row gx-2">
            <h3>카테고리</h3>
            <a href="{% url 'restaurant:restaurant_list' %}" >
                전체
            </a>
            {% for category in category %}
                <a href="{% url 'restaurant:restaurant_list2' category.id %}" >
                    {{ category.name }} ({{ category.id }})<br>
                </a>
            {% endfor %}

            <h3>식당</h3>
            {% for restaurant in restaurant_list %}
                <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
                    <a href="{{ restaurant.get_absolute_url }}" >
                        <div class="card card-span h-100 text-white rounded-3">
                            <img class="img-fluid rounded-3 h-100" src="{% static 'img/gallery/food-world.png' %}"/>
                            <div class="card-body ps-0">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-1 ms-3">
                                        <h5 class="mb-0 fw-bold text-1000">{{ restaurant.name }}</h5>
                                        <span class="text-primary fs--1 me-1">
                                            <i class="fas fa-location-arrow"></i>
                                        </span>
                                        <span class="mb-0 text-primary">{{ restaurant.location }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}