{% extends "base.html" %}
{% load static %}
{% block content %}
{% load humanize %}


<section id="testimonial">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto mb-6">
                    <div class="card mb-4">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ restaurant.thumbnail.url }}" class="img-fluid rounded" width="100%">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <p style="margin-bottom: 0.5em;">
                                        <span>
                                        {{ restaurant.name }}
                                        </span>
                                        <span style="margin-left: 80%;">
                                            {% with restaurant_follow_users=restaurant.follow_users.all %}
                                                {% if request.user in restaurant_follow_users %}
                                                    <a href="{% url 'restaurant:followRestaurant' restaurant.id %}">
                                                    <i class="fas fa-heart fa-sm animated delay-1s" style="color: red;"></i>
                                                    </a>
                                                {% elif user.is_authenticated %}
                                                    <a href="{% url 'restaurant:followRestaurant' restaurant.id %}">
                                                    <i class="far fa-heart fa-sm animated infinite bounce delay-1s" style="color: gray;"></i>
                                                    </a>
                                                {% else %}
                                                    <i class="far fa-heart fa-sm animated infinite bounce delay-1s" style="color: gray;"></i>
                                                {% endif %}
                                            {% endwith %}
                                        </span>
                                    </p>
                                    <p style="margin-bottom: 0.5em;">
                                        <span class="text-primary fs--1 me-1">
                                            <i class="fas fa-location-arrow"></i>
                                        </span>
                                        {{ restaurant.location }}
                                    </p>
                                    <p style="margin-bottom: 0.5em;">
                                        <span class="text-primary fs--1 me-1">
                                            <i class="fas fa-phone-alt"></i>
                                        </span>
                                        {{ restaurant.phone_number }}
                                    </p>
                                    <p style="margin-bottom: 0;">
                                        <span class="text-primary fs--1 me-1">
                                            <i class="fas fa-clock"></i>
                                        </span>
                                        {{ restaurant.business_open_hour }}
                                        ~ {{ restaurant.business_close_hour }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- 메뉴, 후기 NAV TAB 영역 -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-menu-tab" data-bs-toggle="tab" data-bs-target="#nav-menu" type="button" role="tab" aria-controls="nav-menu" aria-selected="true">M E N U</button>
                        <button class="nav-link" id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-review" aria-selected="false">R E V I E W</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-menu" role="tabpanel" aria-labelledby="nav-menu-tab" style="padding : 1em;">
                        <!-- 메뉴 NAV 영역 -->
                        <table width="100%;">
                        {% for food in menu_list %}
                            <tr style="border-bottom: 1px solid #dee2e6;">
                                <td style="padding:15px;">{{ food.name }}</td>
                                <td style="padding:15px;" align="right">₩ {{ food.price | intcomma }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                    <!-- END 메뉴 TAB 영역 -->
                    <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab" style="padding : 2em;">
                        <!-- 후기 NAV 영역 -->
                        <!-- 후기 신규 등록 -->
                        {% if user.is_authenticated %}
                        <div>
                            <form class="row g-2" action="{% url 'restaurant:create_restaurant_comment' restaurant.id %}" method="POST" enctype="multipart/form-data">
                                {%csrf_token%}
                                    <select class="form-select" name="review_menu" id="review_menu">
                                        {% for food in menu_list %}
                                            <option value="{{ food.id }}">{{ food.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="file" class="form-control" id="review_image" name="review_image">
                                    <textarea class="form-control" name="review_content" id="review_content" rows="2" placeholder="후기를 입력해주세요:) "></textarea>
                                <input type="submit" value="확인">
                            </form>
                        </div>
                        {% endif %}

                        <!-- 후기 목록 -->
                        <div style="padding-top: 2em;">
                            <table width="100%;">
                            {% for comment in comment_list %}
                                <tr>
                                    <td style="padding:5px;">{{ comment.user.username }}</td>
                                    <td style="padding:5px;" align="right">
                                        <!-- 추천 -->
                                        {% with comment_like_users=comment.like_users.all %}
                                            {% if request.user in comment_like_users %}
                                                <a href="{% url 'restaurant:likeComment' restaurant.id comment.id %}">
                                                <i class="fas fa-thumbs-up" style="color: red;"></i>
                                                </a>
                                            {% elif user.is_authenticated %}
                                                <a href="{% url 'restaurant:likeComment' restaurant.id comment.id %}">
                                                <i class="far fa-thumbs-up" style="color: gray;"></i>
                                                </a>
                                            {% else %}
                                                <i class="far fa-thumbs-up" style="color: gray;"></i>
                                            {% endif %}
                                            {{ comment.like_users.count }}
                                        {% endwith %}
                                        <!-- 비추천 -->
                                        {% with comment_hate_users=comment.hate_users.all %}
                                            {% if request.user in comment_hate_users %}
                                                <a href="{% url 'restaurant:hateComment' restaurant.id comment.id %}">
                                                <i class="fas fa-thumbs-down" style="color: blue;"></i>
                                                </a>
                                            {% elif user.is_authenticated %}
                                                <a href="{% url 'restaurant:hateComment' restaurant.id comment.id %}">
                                                <i class="far fa-thumbs-down" style="color: gray;"></i>
                                                </a>
                                            {% else %}
                                                <i class="far fa-thumbs-down" style="color: gray;"></i>
                                            {% endif %}
                                            {{ comment.hate_users.count }}
                                        {% endwith %}
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #dee2e6;">
                                    <td style="width: 70%; padding:15px;">
                                        [{{ comment.menu.name }}] {{ comment.content }}
                                    </td>
                                    <td style="width: 30%; padding:15px;" align="right">
                                        {% if comment.thumbnail %}
                                            <img src="{{ comment.thumbnail.url }}" style="max-width: 100%; border-radius: 5px;">
                                        {% else %}
                                            <img src="{% static 'img/gallery/no image.jpg' %}" style="max-width: 100%; border-radius: 5px;">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                    <!-- END 후기 TAB 영역 -->
                </div>
                <!-- END 메뉴, 후기 NAV TAB 영역 -->
            </div>
        </div>
    </div>
</section>


{% endblock %}