{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/components/restaurant_search.css'%}">

{% if restaurant_list %}
<section id="testimonial">
  <div class="container">

        <form action="{% url 'restaurant:search_resturant' %}" method="GET" class="row gx-2 gy-2 align-items-center mb-3">
            <table width="90%" align="center">
                <tr>
                    <td width="70%;">
                        <i class="fas fa-search input-box-icon text-primary"></i>
                        <input
                            class="col-lg-3 form-control border-0 input-box bg-100"
                            style="display: inline; width:80%;"
                            type="search"
                            placeholder="Search Restaurant"
                            aria-label="Search"
                            name="search_key"
                            id="search_key"
                            value="{{ search_key }}"
                        />
                    </td>
                    <td width="20%;">
                        <button class="btn btn-danger" type="submit" style="padding: 0.5rem;">
                            검색
                        </button>
                    </td>
                </tr>
            </table>
        </form>

        <!-- 식당 리스트 -->
        <table width="90%" align="center">
        {% for restaurant in restaurant_list %}
            <tr style="border-bottom: 1px solid #dee2e6;">
                <td style="width: 30%; padding: 10px;">
                    <a href="{{ restaurant.get_absolute_url }}" >
                        <img src="{{ restaurant.thumbnail.url }}" style="max-width: 80%; border-radius: 5px;">
                    </a>
                </td>
                <td style="width: 70%; padding: 15px;">
                    <a href="{{ restaurant.get_absolute_url }}" >
                        <h5>{{ restaurant.name }}</h5>
                        <p class="mb-1">
                            <span class="text-primary fs--1 me-1">
                                <i class="fas fa-location-arrow"></i>
                            </span>
                            {{ restaurant.location }}
                        </p>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>

  </div>
</section>
{% else %}
<p>"{{ search_key }}"의 검색 결과가 없습니다.</p>
{% endif %}

<div class="page middle">
    {% if pages.has_previous %}
    <a href="?page={{pages.previous_page_number}}" class="page_click active">◀ 이전</a>
    {% else %}
    <a class="page_click nonactive">◀ 이전</a>
    {% endif %}

    {% if pages.has_next %}
    <a href="?page={{pages.next_page_number}}" class="page_click active">다음 ▶</a>
    {% else %}
    <a class="page_click nonactive">다음 ▶</a>
    {% endif %}
</div>

<script type="text/javascript">
  $('.responsive').slick({
      dots: false,
      infinite: false,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 1,
      responsive: [
          {
              breakpoint: 1024,
              settings: {
                  slidesToShow: 6,
                  slidesToScroll: 1
              }
          },
          {
              breakpoint: 600,
                  settings: {
                      slidesToShow: 4,
                      slidesToScroll: 2
                  }
              },
          {
          breakpoint: 480,
              settings: {
                  slidesToShow: 4,
                  slidesToScroll: 2
              }
          }
      ]
  });
</script>

{% endblock %}