.thead {
  border-bottom:#F17228;
}
.bnt {
  background-color: #F17228; 
  color: white; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; width: 80px;
}
section {
margin-top: 100px;
min-height: 400px;
}
.middle{
text-align: center;
margin-bottom: 5%;
}
.middle a {
margin: 20px;
padding: 10px;
}
.number {
font-size: 20px;
}
.active {
transition-duration: 0.2s;
}
.active:hover {
color: #FFB310;
cursor: pointer;
}
.nonactive {
color: #a4a4a4;
cursor: pointer;
}