{% extends 'base.html' %} {% load static %} {% block content %}
<section class="py-0 bg-primary-gradient">
    <div class="container">
      <div class="row justify-content-center g-0">
        <div class="col-xl-9">
          <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
            <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6" style="margin-top:8rem !important;">식당 후기 보기</h5>
          </div>
          <div class="row">
            <div class="col-xs-3 col-md-2 mb-3">
              <button onclick="location.href='{% url 'review:review' %}'">전체</button>
            </div>
            {% for category in category %}
            <div class="col-xs-3 col-md-2 mb-3">
              <button onclick="location.href='{% url 'review:filter' category.id %}'">{{category.name}}</button>
            </div>
            {% endfor %}
          </div>
          <table class="table">
            <thead>
                <tr class="thead">
                    <th width=10%>순번</th>
                    <th width=15%>식당</th>
                    <th width=15%>메뉴</th>
                    <th width=35%>제목</th>
                    <th width=15%>작성자</th>
                    <th>좋아요</th>
                </tr>
            </thead>
            <tbody>
            {% for review in reviews %}
                <tr>
                    <td>></td>
                    <td>{{review.restaurant.name}}</td>
                    <td>{{review.menu}}</td>
                    <td>{{review.content}}</td>
                    <td>{{user}}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section> 
  <style>
    .thead {
      border-bottom:#F17228;
    }
    button {
      background-color: #F17228; 
      color: white; 
      font-weight: bold; 
      border: none; 
      border-radius: 5px; width: 80px;
    }
  </style>
{% endblock %}