{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}?ab">
</head>
<body>
<section class="signup-form">
    <div class="box" style="zoom: 2;">
    <h1><a href="{% url 'main' %}">포동포동</a></h1>
    <div class = "caption">이미 계정이 있으신가요? 바로 <a href="{% url 'account_login' %}">로그인</a> 하세요.</div>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %} 
    <div class="int-area">
      <input type="text" name="username"  minlength="1" maxlength="150" required="" id="id_username">
      <label for="id_username">아이디</label>
    </div>
    <div class="int-area">
      <input type="password" name="password1" required="" id="id_password1">
      <label for="id_password1">비밀번호</label>
    </div>
    <div class="int-area">
      <input type="password" name="password2" required="" id="id_password2">
      <label for="id_password2">비밀번호 (확인)</label>
    </div>
    <div class="int-area"> 
      <input type="text" name="name"  maxlength="30" required="" id="id_name">
      <label for="id_name">이름</label> 
    </div>
    <div class="int-area">
      <input type="email" name="email"  required="" id="id_email">
      <label for="id_email">이메일</label> 
    </div>
    <div class="int-area num">
        <input type="number" name="phone" required="" id="id_phone">
        <label for="id_phone">phone</label>
      </div>
      <div class="btn-area">
        <input type="submit" value="회원가입">  
      </div>  
      </form>
    </div>
</section>

</body>
